.card{
    background-color: EEE9DA !important;
    
}

body{
    background-color: #6096B4;
}

.container-fluid{
 background-color: #BDCDD6 !important;
 color: #adadad !important;
 height: 1090px !important;
}

h3{
    color: black;
}

.inputs{
    background-color: #EDF5E1;
    margin: 2px;
    padding: 4px 2px;
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #05386B important;
}

.button{
    width: 200px;
    margin-top: 5px;
    background-color: black;
    color: #EDF5E1;
    padding: 5px 2px;
    border: none;
    border-radius: 10px;
}

video{
    width: 230px;
    padding: 5px;
}

.video_div{
    /* padding: 5px; */
    margin: auto;
    /* background-color: black; */
    /* width: 200px;
    height: 600px; */
}

.useroutput{
    text-align: center;
    
}